
img{ 
    border: 1px solid black;
    width:100%;
}
.active{
    background-color: #eee;
    color: black;
    border: 1px solid black;
}
footer{
    margin-top: 50px;
}
.mycard{
    background-color: rosybrown;
}
.listazo{
    width: 50%;
}
input{
       width: 100%;
       margin: 10px;
}
.kolcs{
    margin: 0 auto;
}

.card{
    margin: 1px;
}




